In [34]:
import numpy as np
import pandas as pd

from darts.tests.groundtruths import gettruedartboards

In [42]:
boxes = []

for i in range(15):
    boards = gettruedartboards("dart{}".format(i))
    for board in boards:
        boxes.append(board)

boxes = np.asarray(boxes)
boxes

array([[426,   0, 193, 217],
       [168, 106, 246, 242],
       [ 90,  88, 100, 106],
       [314, 139,  82,  86],
       [155,  65, 260, 260],
       [412, 125, 143, 135],
       [205, 108,  73,  78],
       [235, 150, 183, 182],
       [ 65, 240,  70, 110],
       [829, 201, 142, 208],
       [170,  13, 300, 300],
       [ 78,  91, 117, 134],
       [578, 118,  64, 101],
       [913, 142,  40,  79],
       [169,  93,  71,  96],
       [153,  60,  71, 169],
       [257, 103, 161, 164],
       [103,  84, 157, 159],
       [971,  84, 154, 150]])

In [49]:
boxes[:, 2:].min(), boxes[:, 2:].max()

(40, 300)

In [59]:
boards = [gettruedartboards("dart{}".format(i)) for i in range(15)]
centres = [[(x + w/2, y + h/2) for (x, y, w, h) in board] for board in boards]
centres

[[(522.5, 108.5)],
 [(291.0, 227.0)],
 [(140.0, 141.0)],
 [(355.0, 182.0)],
 [(285.0, 195.0)],
 [(483.5, 192.5)],
 [(241.5, 147.0)],
 [(326.5, 241.0)],
 [(100.0, 295.0), (900.0, 305.0)],
 [(320.0, 163.0)],
 [(136.5, 158.0), (610.0, 168.5), (933.0, 181.5)],
 [(204.5, 141.0)],
 [(188.5, 144.5)],
 [(337.5, 185.0)],
 [(181.5, 163.5), (1048.0, 159.0)]]

In [62]:
multiple = [centre for centre in centres if len(centre) > 1]
multiple

[[(100.0, 295.0), (900.0, 305.0)],
 [(136.5, 158.0), (610.0, 168.5), (933.0, 181.5)],
 [(181.5, 163.5), (1048.0, 159.0)]]

In [74]:
import math
from itertools import combinations

for centre in multiple:
    dists = []
    for (ax, ay), (bx, by) in combinations(centre, 2):
        dists.append(math.sqrt((ax-bx)**2 + (ay-by)**2))
    print(np.min(dists))

800.0624975587845
323.2615040489665
866.5116848606256

In [75]:
results_df = pd.DataFrame(columns=[
    "image",
    "targets", "detections",
    "tp_count", "fp_count", "fn_count",
    "precision", "recall", "f1_score", "avg_iou",
]).set_index("image")

results_df.loc["avg"] = 0

results_df

,targets,detections,tp_count,fp_count,fn_count,precision,recall,f1_score,avg_iou
image,,,,,,,,,
avg,0,0,0,0,0,0,0,0,0

In [81]:
csv_dir = os.path.join(os.getcwd(), "darts/out/results")
csv_path = os.path.join(csv_dir, "ensemble_results.csv")

results_df = pd.read_csv(csv_path).set_index("image")
results_df

,targets,detections,tp_count,fp_count,fn_count,precision,recall,f1_score,avg_iou
image,,,,,,,,,
avg,1.0,1.0,0.75,0.25,0.25,2.5,3.0,2.666667,2.812747
dart0,1.0,1.0,1.00,0.00,0.00,1.0,1.0,1.000000,0.872038
dart1,1.0,1.0,1.00,0.00,0.00,1.0,1.0,1.000000,0.877551
dart2,1.0,2.0,1.00,1.00,0.00,0.5,1.0,0.666667,1.063158
dart3,1.0,0.0,0.00,0.00,1.00,0.0,0.0,0.000000,0.000000

In [85]:
avgs = ["precision", "recall", "f1_score", "avg_iou"]
sums = ["targets", "detections", "tp_count", "fp_count", "fn_count"]

# results_df.loc["avg"][sums] = 
results_df.drop("avg", axis=0, inplace=False)[sums].sum(axis=0)

# results_df[sums]

targets       4.0
detections    4.0
tp_count      3.0
fp_count      1.0
fn_count      1.0
dtype: float64

In [5]:
a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
b = [[1, 2, 3, 4, [6, 7, 8, 9]], [10, 11, 12, 13]]

a

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [6]:
a.remove([1, 2, 3, 4])
a

[[5, 6, 7, 8], [9, 10, 11, 12]]