In [2]:
import numpy as np
import pandas as pd

In [22]:
results = np.array([
    [0.75, 0.85, 0.95],
    [0.43, 0.75, 0.43],
    [0, 0, -1],
    [0.24, 0.97, 0.65],
])

results

array([[ 0.75,  0.85,  0.95],
       [ 0.43,  0.75,  0.43],
       [ 0.  ,  0.  , -1.  ],
       [ 0.24,  0.97,  0.65]])

In [25]:
df = pd.DataFrame(results, columns=["precision", "recall", "iou"])
df

   precision  recall   iou
0       0.75    0.85  0.95
1       0.43    0.75  0.43
2       0.00    0.00 -1.00
3       0.24    0.97  0.65

In [29]:
df["image"] = ["img0", "img1", "img2", "img3"]
df = df.set_index("image")
df

       precision  recall   iou
image
img0        0.75    0.85  0.95
img1        0.43    0.75  0.43
img2        0.00    0.00 -1.00
img3        0.24    0.97  0.65

In [32]:
df.loc["total"] = 0
df

       precision  recall   iou
image
img0        0.75    0.85  0.95
img1        0.43    0.75  0.43
img2        0.00    0.00 -1.00
img3        0.24    0.97  0.65
total       0.00    0.00  0.00

In [36]:
df.loc["total"]["iou"] = df["iou"].drop("total", axis=0, inplace=False)[df["iou"]>=0].mean()
df

       precision  recall     iou
image
img0        0.75    0.85  0.9500
img1        0.43    0.75  0.4300
img2        0.00    0.00 -1.0000
img3        0.24    0.97  0.6500
total       0.00    0.00  0.2575